.venv/
__pycache__/
*.pyc
.env
.env.*
*.log
*.log.*
*.out
*.bak_*
dist/
build/
node_modules/
chrome-extension/*.zip
exports/
static/devize/
static/docs/
static/images/
static/*.zip
# artefacte diverse
.DS_Store
